/* Styling the body element like body color and margin */
body {
    background-color: #00FA9A;
    margin: 20%;
}

/* Styling the the Title and giving shadow to the title*/
#title{
    text-align: center;
    text-shadow: 5px 5px 10px white;
    font-size: 7vh;
}

/* setting width and display type of image*/
img{
    display: inline-block;
    width: 100%;
    border-radius: 50%;
}

/* setting font color and font sixe of thr image-captiom */
#caption{
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

/* styling content of the page like-padding , font-size, fomt-color etc*/
div#tribute-data{
    background-color: rgb(46, 139, 87, 0.25);
    box-shadow: 20px 20px 20px #98FB98;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
}
/* Styling the link Provided at the end */
#tribute-link{
    text-decoration: none;
    color: black;
}